#touchHome .slider {
  position: relative;
}
#touchHome .rennab {
  height: 5rem;
}
#touchHome .redbar {
  position: absolute;
  background: #fff;
  height: 0.09375rem;
  display: block;
  text-align: center;
  width: 100%;
}
#touchHome .redbar li {
  display: inline-block;
  height: 0.09375rem;
  position: absolute;
  left: 0;
}
#touchHome .indicator {
  display: block;
  text-align: center;
  padding: 0.390625rem 0;
}
#touchHome .indicator:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
#touchHome .indicator li {
  display: inline-block;
  margin: 0 0.03125rem;
}
#touchHome nav .home-nav {
  text-align: center;
  padding: 0.46875rem 0.15625rem 0.46875rem;
  background: #fff;
  border-bottom: 0.03rem solid #d9d9d9;
}
#touchHome .home-nav a {
  display: block;
}
#touchHome .home-nav .item {
  float: left;
  width: 20%;
  text-align: center;
}
#touchHome .home-nav .item a {
  display: block;
  color: #979797;
}
#touchHome .home-nav .item span {
  display: block;
  margin: 0 auto;
}
#touchHome .home-nav button {
  display: inline-block;
  width: 1.09375rem;
  height: 1.09375rem;
  border-radius: 50%;
  margin: 0 0 0.15625rem 0;
}
/*背景色*/
.bg-orange {
  background-color: #ff680c;
}
/*橙色*/
.bg-purple {
  background-color: #a17ff3;
}
/*紫色*/
.bg-red {
  background-color: #ff6468;
}
/*红色*/
.bg-blue {
  background-color: #56b1ff;
}
/*蓝色*/
.bg-green {
  background-color: #29d662;
}
/*绿色*/
/*文字色*/
.text-orange {
  color: #ff680c;
}
/*橙色*/
.text-purple {
  color: #a17ff3;
}
/*紫色*/
.text-red {
  color: #ff6468;
}
/*红色*/
.text-blue {
  color: #56b1ff;
}
/*蓝色*/
.text-green {
  color: #29d662;
}
/*绿色*/
.text-gray {
  color: #988f82;
}
/*灰色*/
/*精选产品信息*/
.handpick-area {
  background: #fff;
  margin: 0.3125rem 0 0 0;
  border: solid #d9d9d9;
  border-width: 0.03rem 0 0;
}
.handpick-area h4 {
  font-size: 0.4375rem;
  font-weight: normal;
  height: 1.09375rem;
  line-height: 1.09375rem;
  padding: 0 0.3125rem;
  border: solid #d9d9d9;
  border-width: 0 0.03rem 0.03rem 0;
  background: #fff;
}
.handpick-area h4 .line {
  display: inline-block;
  height: 0.4375rem;
  width: 0.09375rem;
  vertical-align: -0.0625rem;
}
.handpick-area h4 .text {
  display: inline-block;
  padding: 0 0 0 0.15625rem;
  font-size: 0.4375rem;
}
.handpick-area h4 .more {
  float: right;
  font-size: 0.40625rem;
  color: #8e8e93;
}
.handpick-area h4 .more .xyzIconsSmall-forward {
  float: right;
  margin: 0.28125rem 0 0 0.03125rem;
}
.handpick-area a {
  display: block;
  color: #000;
}
.handpick-item {
  float: left;
}
.handpick-item:last-child h4 {
  border-right: none;
}
.hankpick-content {
  position: relative;
  float: left;
  border: solid #d9d9d9;
  border-width: 0 0.03rem 0.03rem 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.hankpick-content h5 {
  font-size: 0.40625rem;
  font-weight: normal;
  margin: 0.390625rem 0 0 0.3125rem;
}
.hankpick-content.typo-center h5 {
  margin-left: 0;
}
.hankpick-content p {
  position: relative;
  color: #8e8e93;
  margin: 0.078125rem 0 0 0.3125rem;
  z-index: 2;
}
.hankpick-content img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.handpick-area .no-border-right {
  border-right: none;
}
/*各尺寸盒子*/
.handpick-item[role=layout-640-240] .hankpick-content {
  width: 10rem;
  height: 3.75rem;
  background-size: 10rem 3.75rem;
}
.handpick-item[role=layout-320-361] .hankpick-content {
  width: 5rem;
  height: 5.625rem;
  background-size: 5rem 5.625rem;
}
.handpick-item[role=layout-320-240] .hankpick-content {
  width: 5rem;
  height: 3.75rem;
  background-size: 5rem 3.75rem;
}
.handpick-item[role=layout-320-180] .hankpick-content {
  width: 5rem;
  height: 2.8125rem;
  background-size: 5rem 2.8125rem;
}
.handpick-item[role=layout-160-220] .hankpick-content {
  width: 2.5rem;
  height: 3.4375rem;
  background-size: 2.5rem 3.4375rem;
}
.handpick-item[role=layout-210-200] .hankpick-content {
  width: 3.28125rem;
  height: 3.125rem;
  background-size: 3.28125rem 3.125rem;
}
.handpick-item[role=layout-220-200] .hankpick-content {
  width: 3.40625rem;
  height: 3.125rem;
  background-size: 3.40625rem 3.125rem;
}

/*场景分类*/
.scene-group h5 {
  font-size: 0.34375rem;
  color: #8e8e93;
  margin: 0;
  text-align: center;
}
.scene-group .hankpick-content .icon {
  display: block;
  margin: 0.625rem auto 0.3125rem;
}

#touchHome .products .ins-item {
  margin: 0.234375rem 0;
}
#touchHome .products [class^="banner-text"] {
  display: inline-block;
  float: left;
  padding: 0.328125rem 0.15625rem 0.34375rem;
  height: 0.734375rem;
  width: 1.71875rem;
  overflow: hidden;
  text-align: center;
}

#touchHome .co-brand {
  margin-bottom: 0.3125rem;
}
#touchHome .products .banner-text1 {
  background: #579cd9;
}
#touchHome .products .banner-text2 {
  background: #6b9f79;
}
#touchHome .products .banner-text3 {
  background: #deae5e;
}
#touchHome .products .banner-text4 {
  background: #c2574f;
}
#touchHome .products .banner-pic1 {
  background-position: 0 0;
}
#touchHome .products .banner-pic2 {
  background-position: 0 -1.40625rem;
}
#touchHome .products .banner-pic3 {
  background-position: 0 -2.8125rem;
}
#touchHome .products .banner-pic4 {
  background-position: 0 -4.21875rem;
}
#touchHome .products .item-desc {
  height: 1.40625rem;
}
#touchHome .products a {
  color: white;
}
#touchHome .products .name {
  font-size: 0.28125rem;
}
#touchHome .products .nav {
  margin: 0.078125rem 0;
}
#touchHome .products .nav li {
  float: left;
  line-height: 0.390625rem;
  width: 1.125rem;
  text-align: center;
  background: #ffffff;
  padding: 0.0625rem 0;
  margin: 0 0.03125rem;
}
#touchHome .products .nav li a {
  color: #666666;
}
#touchHome .rennab img {
  width: 10rem;
  height: 13.3rem;
}
#touchHome .title {
  color: #666666;
  background: #e6e6e6;
  height: 0.375rem;
  line-height: 0.375rem;
  padding-left: 0.1875rem;
  margin: 0.125rem 0;
}
#touchHome .nav {
  font-size: 0.203125rem;
}
#touchHome .ins-item {
  background: #fff;
  border-bottom: solid 0.015625rem #dddddd;
  padding-bottom: 0.078125rem;
  box-shadow: 0 0.015625rem 0.015625rem #ddd;
}
#touchHome .products .nav li {
  padding: 0.03125rem 0;
  margin: 0 0.03125rem;
  width: 1.0625rem;
}
#touchHome .products .nav {
  margin: 0 0.03125rem;
  padding: 0.109375rem 0rem 0.03125rem 0;
}
#touchHome .products .ins-item1 .nav li {
  border: 0.015625rem solid #1da8f8;
  border-radius: 0.0625rem;
}
#touchHome .products .ins-item1 .nav li:hover {
  background: #eee;
  border: 0.015625rem solid #3393cb;
}
#touchHome .ins-item1 .nav li a {
  color: #1da8f8;
}
#touchHome .ins-item1 .nav li:hover a {
  color: #3393cb;
}
#touchHome .products .ins-item2 .nav li {
  border-radius: 0.0625rem;
  border: 0.015625rem solid #6b9f79;
}
#touchHome .products .ins-item2 .nav li:hover {
  background: #eee;
  border: 0.015625rem solid #619170;
}
#touchHome .ins-item2 .nav li a {
  color: #6b9f79;
}
#touchHome .ins-item2 .nav li:hover a {
  color: #619170;
}
#touchHome .products .ins-item3 .nav li {
  border: 0.015625rem solid #deae5e;
  border-radius: 0.0625rem;
}

#touchHome .ins-item3 .nav li a {
  color: #deae5e;
}
#touchHome .ins-item3 .nav li:hover a {
  color: #c99f57;
}

#touchHome .products .ins-item4 .nav li:hover {
  background: #eee;
  border: 0.015625rem solid #af4f48;
}
#touchHome .ins-item4 .nav li a {
  color: #c2574f;
}
#touchHome .ins-item4 .nav li:hover a {
  color: #af4f48;
}
#touchHome .ins-item5 {
  box-shadow: 0 0 0 #ddd;
  border: 0;
  padding: 0;
}
#touchHome .products .banner-text5 {
  background: #ab5a8c;
  width: 2.03125rem;
  padding-left: 0;
  padding-right: 0;
}
#touchHome .products .banner-pic5 {
  background-position: 0 -5.640625rem;
}
